<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TechMarket</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/style.css">
        <script src="/scripts/script.js"></script>
        <link rel="icon" href="/logo.jpg">
        <meta name="author" content="Mihoubi Youcef">
    </head>
    <body>
        <header>
            <table width="100%" border="0">
                <tr>
                    <td>
                        <a href="index.html">
                            <h1>TechMarket</h1>
                        </a>
                    </td>
                    <td align="right">
                        <a href="login.html">Login</a> | 
                        <a href="signup.html">Sign Up</a>
                        <button onclick="toggleTheme()" style="float:right; margin-right: 10px;">🌓Dark Mode</button>
                    </td>
                </tr>
            </table>
        </header>
        <main>
            <table width="100%" border="2">
                <thead>
                    <tr>
                        <th colspan="5" class="category">Laptops & Computers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product"><a href="product1.html"><img src="/products/product1.png" alt="product1" height="155" width="155" title="DELL XPS 9640"></a></td>
                        <td class="product"><a href="product2.html"><img src="/products/product2.png" alt="product2" height="155" width="155" title="ASUS ROG Zephyrus G14"></a></td>
                        <td class="product"><a href="product3.html"><img src="/products/product3.jpg" alt="product3" height="155" width="155" title="Dell Alienware Aurora R13"></a></td>
                        <td class="product"><a href="product4.html"><img src="/products/product4.jpg" alt="product4" height="155" width="155" title="HP OMEN 25L"></a></td>
                        <td class="product"><a href="product5.html"><img src="/products/product5.png" alt="product5" height="155" width="155" title="MacBook Pro 14"></a></td>
                    </tr>
                    <tr>
                        <td class="price">Price : 320000 DA</td>
                        <td class="price">Price : 370000 DA</td>
                        <td class="price">Price : 440000 DA</td>
                        <td class="price">Price : 295000 DA</td>
                        <td class="price">Price : 499000 DA</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th colspan="5" class="category">SmartPhones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product"><a href="product6.html"><img src="/products/product6.jpg" alt="product6" height="155" width="155" title="IPhone 15 Plus"></a></td>
                        <td class="product"><a href="product7.html"><img src="/products/product7.jpg" alt="product7" height="155" width="155" title="Galaxy S24 Ultra"></a></td>
                        <td class="product"><a href="product8.html"><img src="/products/product8.jpg" alt="product8" height="155" width="155" title="Google Pixel 9 Pro XL"></a></td>
                        <td class="product"><a href="product9.html"><img src="/products/product9.jpg" alt="product9" height="155" width="155" title="OnePlus 13"></a></td>
                        <td class="product"><a href="product10.html"><img src="/products/product10.jpg" alt="product10" height="155" width="155" title="Huawei Nova Y70"></a></td>
                    </tr>
                    <tr>
                        <td class="price">Price : 225000 DA</td>
                        <td class="price">Price : 203000 DA</td>
                        <td class="price">Price : 205000 DA</td>
                        <td class="price">Price : 80000 DA</td>
                        <td class="price">Price : 310000 DA</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="5" class="category">Gaming Consoles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product"><a href="product11.html"><img src="/products/product11.jpg" alt="product11" height="155" width="155" title="Sony PlayStation 5"></a></td>
                        <td class="product"><a href="product12.html"><img src="/products/product12.jpeg" alt="product12" height="155" width="155" title="Xbox one série X"></a></td>
                        <td class="product"><a href="product13.html"><img src="/products/product13.jpg" alt="product13" height="155" width="155" title="Nintendo Switch"></a></td>
                        <td class="product"><a href="product14.html"><img src="/products/product14.jpg" alt="product14" height="155" width="155" title="Sony PlayStation 4"></a></td>
                        <td class="product"><a href="product15.html"><img src="/products/product15.jpg" alt="product15" height="155" width="155" title="Asus ROG Ally"></a></td>
                    </tr>
                    <tr>
                        <td class="price">Price : 130000 DA</td>
                        <td class="price">Price : 110000 DA</td>
                        <td class="price">Price : 42000 DA</td>
                        <td class="price">Price : 75000 DA</td>
                        <td class="price">Price : 130000 DA</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th colspan="5" class="category">SmartWatches</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product"><a href="product16.html"><img src="/products/product16.jpeg" alt="product16" height="155" width="155" title="Apple Watch Series 9"></a></td>
                        <td class="product"><a href="product17.html"><img src="/products/product17.jpg" alt="product17" height="155" width="155" title="Samsung Galaxy Watch6"></a></td>
                        <td class="product"><a href="product18.html"><img src="/products/product18.jpg" alt="product18" height="155" width="155" title="Fitbit Versa 3"></a></td>
                        <td class="product"><a href="product19.html"><img src="/products/product19.jpg" alt="product19" height="155" width="155" title="Huawei Watch GT 3 Pro"></a></td>
                        <td class="product"><a href="product20.html"><img src="/products/product20.jpg" alt="product20" height="155" width="155" title="Amazfit GTR 4"></a></td>
                    </tr>
                    <tr>
                        <td class="price">Price : 95000 DA</td>
                        <td class="price">Price : 48000 DA</td>
                        <td class="price">Price : 26000 DA</td>
                        <td class="price">Price : 51000 DA</td>
                        <td class="price">Price : 22500 DA</td>
                    </tr>
                </tbody>
            </table>
        </main>

    </body>
</html>
