<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TechMarket | SignUp</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/style.css">
        <script src="/scripts/script.js"></script>
        <link rel="icon" href="/logo.jpg">
        <meta name="author" content="Mihoubi Youcef">
    </head>
    <body>
        <header>
            <table width="100%">
                <tr>
                    <td>
                        <a href="index.html">
                            <h1>TechMarket</h1>
                        </a>
                    </td>
                    <td align="right">
                        <a href="login.html">Login</a> |
                        <a href="signup.html">Sign Up</a>
                        <button onclick="toggleTheme()" style="float:right; margin-right: 10px;">🌓Dark Mode</button>
                    </td>
                </tr>
            </table>
        </header>

        <form method="post" id="signup_form">
            <center><h1>Create An Account</h1></center>
            <table border="2" width="40%" align="center">
                <tr>
                    <td><b>First Name</b></td>
                    <td><input type="text" placeholder="First Name" id="fname">
                    </td>
                </tr>
                <tr>
                    <td><b>Last Name</b></td>
                    <td><input type="text" placeholder="Last Name" id="lname"></td>
                </tr>
                <tr>
                    <td><b>Age</b></td>
                    <td><input type="number" placeholder="Age" id="age"></td>
                </tr>
                <tr>
                    <td><b>Wilaya</b></td>
                    <td><select id="wilaya" name="wilaya">
                        <option value="">-- Choose Wilaya --</option>
                        <option value="1">Adrar</option>
                        <option value="2">Chlef</option>
                        <option value="3">Laghouat</option>
                        <option value="4">Oum El Bouaghi</option>
                        <option value="5">Batna</option>
                        <option value="6">Bejaia</option>
                        <option value="7">Biskra</option>
                        <option value="8">Bechar</option>
                        <option value="9">Blida</option>
                        <option value="10">Bouira</option>
                        <option value="11">Tamanrasset</option>
                        <option value="12">Tebessa</option>
                        <option value="13">Tlemcen</option>
                        <option value="14">Tiaret</option>
                        <option value="15">Tizi Ouzou</option>
                        <option value="16">Algiers</option>
                        <option value="17">Djelfa</option>
                        <option value="18">Jijel</option>
                        <option value="19">Setif</option>
                        <option value="20">Saida</option>
                        <option value="21">Skikda</option>
                        <option value="22">Sidi Bel Abbes</option>
                        <option value="23">Annaba</option>
                        <option value="24">Guelma</option>
                        <option value="25">Constantine</option>
                        <option value="26">Medea</option>
                        <option value="27">Mostaganem</option>
                        <option value="28">M'Sila</option>
                        <option value="29">Mascara</option>
                        <option value="30">Ouargla</option>
                        <option value="31">Oran</option>
                        <option value="32">El Bayadh</option>
                        <option value="33">Illizi</option>
                        <option value="34">Bordj Bou Arreridj</option>
                        <option value="35">Boumerdes</option>
                        <option value="36">El Tarf</option>
                        <option value="37">Tindouf</option>
                        <option value="38">Tissemsilt</option>
                        <option value="39">El Oued</option>
                        <option value="40">Khenchela</option>
                        <option value="41">Souk Ahras</option>
                        <option value="42">Tipaza</option>
                        <option value="43">Mila</option>
                        <option value="44">Ain Defla</option>
                        <option value="45">Naama</option>
                        <option value="46">Ain Temouchent</option>
                        <option value="47">Ghardaia</option>
                        <option value="48">Relizane</option>
                        <option value="49">Timimoun</option>
                        <option value="50">Bordj Badji Mokhtar</option>
                        <option value="51">Ouled Djellal</option>
                        <option value="52">Beni Abbes</option>
                        <option value="53">Ain Salah</option>
                        <option value="54">Ain Guezzam</option>
                        <option value="55">Touggourt</option>
                        <option value="56">Djanet</option>
                        <option value="57">El M'Ghair</option>
                        <option value="58">El Menia</option>
                    </select></td>
                </tr>
                <tr>
                    <td><b>Phone Number</b></td>
                    <td><input type="tel" placeholder="Phone Number" id="phone" ></td>
                </tr>
                <tr>
                    <td><b>Mail Address</b></td>
                    <td><input type="email" placeholder="Mail Address" id="email" ></td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td><textarea id="address" placeholder="Address"></textarea></td>
                </tr>
                <tr>
                    <td><b>Password</b></td>
                    <td><input type="password" placeholder="Password" id="password" ></td>
                </tr>
                <tr>
                    <td><b>Rewrite Password</b></td>
                    <td><input type="password" placeholder="Password" id="password2" ></td>
                </tr>
                <tr>
                    <td><b>Gender</b></td>
                    <td>Male
                        <input type="radio" id="male" name="gender" value="Male"  />
                        Female
                        <input type="radio" id="female" name="gender" value="Female"  /></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" onclick="check_signup()">Sign Up</button>
                    </td>
                    <td><button type="reset">Clear</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>




